/* https://www.w3schools.com/css/css3_variables.asp */

/* custom-name	Required. The custom property's name (must start with two dashes)*/

:root{
    --primary-color:#b30500; 
    --secondary-color: #00FF00;
}

body{
    height: 100vh; /* vh the height of the view */
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, var(--primary-color) 50%, var(--secondary-color) 50%);
}